@require "../base/colors.styl";
@require "../base/fonts.styl";

.card   
    &__projectCard
        box-sizing: border-box
        background-color: $background_gray
        padding: $normal_padding
        margin: $normal_margin $normal_margin
    &__title
        font-family: arial
    &__description
        font-family: arial
        color: $text_color
    &__button
        font-family: arial
        background-color: $circle_purple
        color: white
        padding: $normal_padding 
        text-align: center
        width: 100%