@require "../base/colors.styl";
@require "../base/fonts.styl";

.card   
    &__projectCard
        background-color: $background_gray
        box-sizing: border-box
        margin: $normal_margin
        padding: $normal_padding
    &__title
        font-family: arial
    &__description
        color: $text_color
        font-family: arial
    &__button
        background-color: $circle_purple
        border: none
        color: white
        font-family: arial
        padding: $normal_padding 
        text-align: center
        width: 100%

// @media screen and (min-width: $tablet_width)
//     .card 
//         display: flex
//         justify-content: space-evenly 
//         &__projectCard
//             display: inline-block
//             width: 30%
//             margin: 0
//         &__button
//             align-items: baseline