@require "../base/colors.styl";
@require "../base/fonts.styl";

.message 
    border-bottom: 0.375rem solid $border_green
    &__container
        background-color: #F7FDFD
        box-sizing: border-box
        padding: $double_padding $normal_padding
    &__title
        color: $border_green
        font-family: $text_font
        text-align: center
    &__description
        color: $text_color
        font-family: arial
        text-align: center
    &__button
        background-color: $border_green
        border: none
        color: white
        font-family: arial
        padding: $normal_padding $normal_padding
        text-align: center
        width: 100%
        