@require "../base/colors.styl";
@require "../base/fonts.styl";

.message 
    border-bottom: 0.375rem solid $border_green
    &__container
        box-sizing: border-box
        background-color: #F7FDFD
        padding: $double_padding $normal_padding
    &__title
        color: $border_green
        font-family: $text_font
        text-align: center
    &__description
        font-family: arial
        color: $text_color
        text-align: center
    &__button
        font-family: arial
        background-color: $border_green
        color: white
        padding: $normal_padding $normal_padding
        text-align: center
        width: 100%