@require "../base/colors.styl";
@require "../base/fonts.styl";

.rights
    &__container
        box-sizing: border-box
        background-color: $background_green
        padding: $double_padding $normal_padding
    &__title
        font-family: arial
        color: $text_color
        margin: 0
        text-align: center