@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.skills
    &__container
        background-color: $background_gray
        box-sizing: border-box
        padding: $double_padding $normal_padding
        width: 100%
    &__item
        border-radius: 100%
        margin: 0 auto
        height: 4rem
        width: 4rem
        &#rx
            background-image: url(./images/rx.png)

        &#js
            background-image: url(./images/js.png)

        &#rn
            background-image: url(./images/rn.png)

    &__title
        display: block
        color: $background_purple
        font-family: $text_font
    &__box
        display: flex
        justify-content: space-evenly

/**
 * Tablet Styles
 */
@media screen and (min-width: $tablet_width)
    .skills
        &__title
            text-align: center