section(class="blog")
    div(class="blog__container")
        h3(class="blog__title") Node.js First Steps
        p(class="blog__date") Published: April 1 2019
        button(class="blog__read") Read

    div(class="blog__picture")
        img(class="blog__image", src='./images/blog-bg.png')