section(class="experienceCard")
    div(class="experienceCard__card")
        h3(class="experienceCard__project") NASA
        p(class="experienceCard__description") Full Stack Developer
        p(class="experienceCard__duration") 1990 - 2010
        a(href="/#{url}" class="experienceCard__link") View More

    div(class="experienceCard__card")
        h3(class="experienceCard__project") Google
        p(class="experienceCard__description") Sr Software Developer
        p(class="experienceCard__duration") 2010 - 2015
        a(href="/#{url}" class="experienceCard__link") View More

    div(class="experienceCard__card")
        h3(class="experienceCard__project") Apple
        p(class="experienceCard__description") Software Architect
        p(class="experienceCard__duration") 2015 - Present
        a(href="/#{url}" class="experienceCard__link") View More