section(class="experienceCard")
    div(class="row")
        div(class="col-12 col-sm-4 col-md-4")
            div(class="experienceCard__card")
                h3(class="experienceCard__project") NASA
                p(class="experienceCard__description") Full Stack Developer
                p(class="experienceCard__duration") 1990 - 2010
                a(href="/#{url}" class="experienceCard__link") View More

        div(class="col-12 col-sm-4 col-md-4")
            div(class="experienceCard__card")
                h3(class="experienceCard__project") NASA
                p(class="experienceCard__description") Full Stack Developer
                p(class="experienceCard__duration") 1990 - 2010
                a(href="/#{url}" class="experienceCard__link") View More

        div(class="col-12 col-sm-4 col-md-4")
            div(class="experienceCard__card")
                h3(class="experienceCard__project") NASA
                p(class="experienceCard__description") Full Stack Developer
                p(class="experienceCard__duration") 1990 - 2010
                a(href="/#{url}" class="experienceCard__link") View More