section(class="message")
    div(class="message__container")
        h1(class="message__title") Wanna work together?
        p(class="message__description") Let's get in touch
        button(class="message__button") Send me a message!
