section(class="skills") 
    div(class="skills__container")
        h1(class="skills__title") Skills
        div(class="skills__box row")
            div(class="col-4 col-sm-4 col-md-4")
                div(class="skills__item" id="rx")
            div(class="col-4 col-sm-4 col-md-4")
                div(class="skills__item" id="js")
            div(class="col-4 col-sm-4 col-md-4")
                div(class="skills__item" id="rn")