/**
 * Header component
 */
.header {
  background-color: #f2f2f2;
}
.header__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}
.header__name {
  color: #036;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  text-align: center;
  font-weight: lighter;
}
/**
 * Hero Component
 */
.hero {
  background-image: url("./images/image.png");
  background-repeat: no-repeat;
  background-size: 100vw 50vw;
  background-position: top center;
}
.hero__container {
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.hero__title {
  font-family: arial;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
  color: #f2f2f2;
}
.hero__subtitle {
  font-family: arial;
  font-size: 1.3rem;
  margin: 0;
  text-align: center;
  font-weight: lighter;
  padding: 1rem;
  color: #f2f2f2;
}
.hero__item {
  border-radius: 5%;
  margin: 0 auto;
  height: 7rem;
  width: 7rem;
  background-color: #f2f2f2;
  margin-top: 2rem;
}
.hero__bio {
  font-family: arial;
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
  color: #036;
  padding: 1rem;
}
/**
 * Skills Component
 */
.skills {
  background-color: #fff;
  text-align: center;
}
.skills__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.2rem;
  width: 100%;
}
.skills__title {
  color: #036;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: bold;
}
.skills__published {
  color: #036;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: lighter;
}
.skills__button {
  background-color: #0067ce;
  border: none;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5%;
  padding: 0.75rem 2.25rem;
  margin: 2rem;
  margin-top: 1rem;
}
.skills__button:hover {
  cursor: pointer;
}
/**
 * Experience Header component
 */
.header-experience {
  background-color: #f2f2f2;
}
.header-experience__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.2rem;
  width: 100%;
}
.header-experience__title {
  color: #036;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: bold;
}
/**
 * Experience Header component
 */
.experienceCard {
  background-color: #f2f2f2;
}
.experienceCard__item {
  border-radius: 5%;
  width: 100%;
  margin: 0 auto;
}
.experienceCard__linkContainer {
  text-align: right;
  padding: 0.5rem;
}
.experienceCard__link {
  color: #0067ce;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  padding-left: 1rem;
}
.experienceCard__link:hover {
  cursor: pointer;
}
.experienceCard__card {
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border-radius: 3px;
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
}
.experienceCard__project {
  color: #036;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
}
.experienceCard__position {
  color: #036;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 0;
}
.experienceCard__duration {
  color: #515354;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.9rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}
.experienceCard__description {
  color: #515354;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  font-size: 0.9rem;
  border-top: 1px solid #036;
}
/**
 * Project Header Component
 */
.header-project {
  background-color: #fff;
}
.header-project__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.2rem;
  width: 100%;
}
.header-project__title {
  color: #036;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: bold;
}
/**
 * Project card Component
 */
.card__projectCard {
  background-color: #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  border-radius: 3px;
  box-sizing: border-box;
  margin: 1rem;
}
.card__titleContainer {
  background-color: #036;
  padding: 1rem;
  margin: 0 auto;
}
.card__title {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  margin: 0 auto;
}
.card__description {
  color: #515354;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  margin: 0 auto;
}
.card__button {
  background-color: #0067ce;
  border: none;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  padding: 0.7rem;
  border-radius: 5%;
  margin-top: 2rem;
}
.card__button:hover {
  cursor: pointer;
}
.card__descriptionContainer {
  padding: 1rem;
  text-align: center;
}
.card__image {
  width: 100%;
  margin: 0 auto;
}
/**
 * Project card Component
 */
.message {
  border-top: 0.5rem solid #11edad;
}
.message__image {
  display: block;
  margin: 0 auto;
  width: 20%;
}
.message__container {
  font-family: 'Ubuntu', sans-serif;
  background-color: #036;
  box-sizing: border-box;
  padding: 2rem 1rem;
  text-align: center;
}
.message__title {
  padding: 1rem 2rem;
  color: #fff;
  line-height: 150%;
  margin-bottom: 0;
}
.message__description {
  text-align: center;
  color: #fff;
  padding: 0 1rem;
  font-weight: lighter;
}
.message__button {
  background-color: #0067ce;
  border: none;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 5%;
  padding: 0.75rem 2.25rem;
}
.message__button:hover {
  cursor: pointer;
}
.message__formContainer {
  margin: 0 auto;
  padding: 0;
}
.message__formEmail {
  background-color: transparent;
  border: 1px solid #fff;
  padding-top: 1rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin: 1rem;
}
.message__formEmail::placeholder {
  color: #fff;
  align-items: left;
}
.message__formMessage {
  background-color: transparent;
  border: 1px solid #fff;
  padding-top: 1rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  padding-left: 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
}
.message__formMessage::placeholder {
  color: #fff;
  align-items: left;
}
/**
 * Project card Component
 */
.rights__container {
  background-color: #fff;
  border-top: 0.5rem solid #11edad;
  box-sizing: border-box;
  padding: 2rem 1rem;
  font-weight: lighter;
}
.rights__title {
  color: #036;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  text-align: center;
}
/**
 * Blog component
 */
.blog {
  background-color: #f2f2f2;
}
.blog__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0.2rem;
  width: 100%;
}
.blog__title {
  color: #036;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-weight: bold;
}
