$header_background = #c9c9ff
$text_color = #4F5162

$background_white = #fff
$background_gray = #F8F7FD

$border_green = #01EFAD
$border_gray = #D9D9D9

$circle_purple = #7754E2
$circle_orange = #FFCE61
$circle_green = #84F499