@require "../base/colors.styl";
@require "../base/fonts.styl";

.blog
    background-color: $grey
    &__container
        box-sizing: border-box
        margin: 0 auto
        padding: .2rem
        width: 100% // fluid layout
    &__title
        color: $dark_blue
        font-family: $text_font
        text-align: center
        font-weight: bold
