@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.header-experience
    background-color: $grey
    &__container
        box-sizing: border-box
        margin: 0 auto
        padding: .2rem
        width: 100% // fluid layout
    &__title
        color: $dark_blue
        font-family: $text_font
        text-align: center
        font-weight: bold

// @media screen and (min-width: $tablet_width)
//     .header-project
//         &__title
//             text-align: center