@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.header
  background-color: $grey

  &__container
    box-sizing: border-box
    margin: 0 auto
    padding: $normal_padding
    width: 100% // fluid layout

  &__name
    color: $dark_blue
    font-family: $text_font
    margin: 0
    text-align: center
    font-weight: lighter