@require "../base/colors.styl";
@require "../base/fonts.styl";

.rights
    &__container
        background-color: white
        border-top: .5rem solid $green
        box-sizing: border-box
        padding: $double_padding $normal_padding
        font-weight: lighter
    &__title
        color: $dark_blue
        font-family: $text_font
        margin: 0
        text-align: center