/**
 * Header component
 */
.header {
  background-color: #fff;
  border-bottom: 0.125rem solid #d9d9d9;
  border-top: 0.375rem solid #01efad;
}
.header__container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
}
.header__name {
  color: #4f5162;
  font-family: arial;
  margin: 0;
}
/**
 * Hero Component
 */
.hero__container {
  box-sizing: border-box;
  background-image: url("./images/dots-bg.png");
  padding: 3rem 1rem;
  width: 100%;
}
.hero__title {
  color: #4f5162;
  font-family: arial;
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}
/**
 * Skills Component
 */
.skills__container {
  background-color: #f8f7fd;
  box-sizing: border-box;
  padding: 2rem 1rem;
  width: 100%;
}
.skills__item {
  border-radius: 100%;
  margin: 0 auto;
  height: 4rem;
  width: 4rem;
}
.skills__item#rx {
  background-image: url("./images/rx.png");
}
.skills__item#js {
  background-image: url("./images/js.png");
}
.skills__item#rn {
  background-image: url("./images/rn.png");
}
.skills__title {
  display: block;
  color: #7754e2;
  font-family: arial;
}
.skills__box {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .skills__title {
    text-align: center;
  }
}
/**
 * Experience Header component
 */
.header-project__container {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-top: 2rem;
  width: 100%;
}
.header-project__title {
  color: #01efad;
  font-family: arial;
}
@media screen and (min-width: 768px) {
  .header-project__title {
    text-align: center;
  }
}
/**
 * Experience Header component
 */
.experienceCard__link {
  color: #01efad;
  font-family: arial;
  text-decoration: none;
}
.experienceCard__link:hover {
  cursor: pointer;
}
.experienceCard__card {
  border: solid 1px #808080;
  box-sizing: border-box;
  margin: 1rem 1rem;
  padding: 1rem;
}
.experienceCard__project {
  color: #4f5162;
  font-family: arial;
  margin-bottom: 0;
}
.experienceCard__description {
  color: #4f5162;
  font-family: arial;
  margin-bottom: 0;
}
.experienceCard__duration {
  color: #4f5162;
  font-family: arial;
  font-size: 0.9rem;
}
/**
 * Project Header Component
 */
.header-project__container {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-top: 2rem;
  width: 100%;
}
.header-project__title {
  color: #01efad;
  font-family: arial;
}
/**
 * Project card Component
 */
.card__projectCard {
  background-color: #f8f7fd;
  box-sizing: border-box;
  margin: 1rem;
  padding: 1rem;
}
.card__title {
  font-family: arial;
}
.card__description {
  color: #4f5162;
  font-family: arial;
}
.card__button {
  background-color: #7754e2;
  border: none;
  color: #fff;
  font-family: arial;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
/**
 * Project card Component
 */
.message__container {
  background-color: #f7fdfd;
  box-sizing: border-box;
  padding: 2rem 1rem;
}
.message__title {
  color: #01efad;
  font-family: arial;
  text-align: center;
}
.message__description {
  color: #4f5162;
  font-family: arial;
  text-align: center;
}
.message__button {
  background-color: #01efad;
  border: none;
  color: #fff;
  font-family: arial;
  padding: 1rem 1rem;
  text-align: center;
  width: 100%;
}
/**
 * Project card Component
 */
.rights__container {
  background-color: $background_green;
  border-top: 0.375rem solid #01efad;
  box-sizing: border-box;
  padding: 2rem 1rem;
}
.rights__title {
  color: #4f5162;
  font-family: arial;
  margin: 0;
  text-align: center;
}
/**
 * Blog component
 */
.g-container,
.blog__container {
  box-sizing: border-box;
  padding: 2rem 1rem;
  width: 100%;
}
.blog {
  background-color: #2b273a;
}
.blog__container {
  text-align: center;
}
.blog__title,
.blog__date {
  color: #fff;
  font-family: arial;
  text-align: center;
  margin: 0;
}
.blog__date {
  font-size: 0.75rem;
  font-weight: 100;
  margin-top: 0.5rem;
}
.blog__read {
  background-color: #7754e2;
  border: none;
  color: #fff;
  display: inline-block;
  font-size: 0.8rem;
  font-family: arial;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}
.blog__picture {
  height: 15rem;
  display: none;
}
@media screen and (min-width: 768px) {
  .blog__container,
  .blog__picture {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
  .blog__image {
    height: 15rem;
    object-fit: cover;
    width: 100%;
  }
}
