section(class="card")
    div(class="row")
        div(class="col-12 col-sm-4 col-md-4")
            div(class="card__projectCard")
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="card__titleContainer")
                            h3(class="card__title") Todo App
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        img(src="./images/project-template.png" class="card__image")
                        div(class="card__descriptionContainer")
                            p(class="card__description") Glorified todo app built in Javascript, HTML5 and CSS3
                            button(class="card__button") View More

        div(class="col-12 col-sm-4 col-md-4")
            div(class="card__projectCard")
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="card__titleContainer")
                            h3(class="card__title") Poc Chef
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        img(src="./images/project-template.png" class="card__image")
                        div(class="card__descriptionContainer")
                            p(class="card__description") Wanna order tortas mate? We gotcha covered, fam!
                            button(class="card__button") View More

        div(class="col-12 col-sm-4 col-md-4")
            div(class="card__projectCard")
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="card__titleContainer")
                            h3(class="card__title") Conference App
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        img(src="./images/project-template.png" class="card__image")
                        div(class="card__descriptionContainer")
                            p(class="card__description") Wanna book a conference room? We gotcha covered, fam!
                            button(class="card__button") View More