section(class="experienceCard")
    div(class="row")
        div(class="col-12 col-sm-4 col-md-4")
            div(class="experienceCard__card")
                div(class="row")
                    div(class="col-4 col-sm-4 col-md-4")
                        img(src="./images/nasa.png" class="experienceCard__item" id="nasa")
                    div(class="col-8 col-sm-8 col-md-8")
                        h3(class="experienceCard__project") NASA
                        p(class="experienceCard__position") Full Stack Developer
                        p(class="experienceCard__duration") 1990 - 2010
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="experienceCard__description")
                            p(class="experienceCard__information") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="experienceCard__linkContainer")
                            a(href="/#{url}" class="experienceCard__link") View More

        div(class="col-12 col-sm-4 col-md-4")
            div(class="experienceCard__card")
                div(class="row")
                    div(class="col-4 col-sm-4 col-md-4")
                        img(src="./images/nasa.png" class="experienceCard__item" id="nasa")
                    div(class="col-8 col-sm-8 col-md-8")
                        h3(class="experienceCard__project") NASA
                        p(class="experienceCard__position") Full Stack Developer
                        p(class="experienceCard__duration") 1990 - 2010
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="experienceCard__description")
                            p(class="experienceCard__information") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="experienceCard__linkContainer")
                            a(href="/#{url}" class="experienceCard__link") View More

        div(class="col-12 col-sm-4 col-md-4")
            div(class="experienceCard__card")
                div(class="row")
                    div(class="col-4 col-sm-4 col-md-4")
                        img(src="./images/nasa.png" class="experienceCard__item" id="nasa")
                    div(class="col-8 col-sm-8 col-md-8")
                        h3(class="experienceCard__project") NASA
                        p(class="experienceCard__position") Full Stack Developer
                        p(class="experienceCard__duration") 1990 - 2010
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="experienceCard__description")
                            p(class="experienceCard__information") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                div(class="row")
                    div(class="col-12 col-sm-12 col-md-12")
                        div(class="experienceCard__linkContainer")
                            a(href="/#{url}" class="experienceCard__link") View More