section(class="hero")
    div(class=" col-12 col-sm-12 col-md-12")
        div(class="hero__container")
            h1(class="hero__title") Felix Ruano
            h2(class="hero__subtitle") JavaScript Developer
            div(class="hero__item")
            p(class="hero__bio") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        //- div(class="hero__arrow")

//- section(class="ex")
//-     div(class="ex-bg")
//-     div(class="ex-picture")
//-         div(class="ex-image")