section(class="message")
    div(class="row")
        div(class="col-12 col-sm-12 col-md-12")
            div(class="message__container")
                img(src="./images/temporal_handshake.png" class=("message__image"))
                h1(class="message__title") Wanna work together?
                h4(class="message__description") Send me a message!
                div(class="message__formContainer")
                    form(class="message__form")
                        input(type="text" name="email" placeholder="Email" class="message__formEmail")
                        input(type="text" name="message" placeholder="Message" class="message__formMessage")
                    button(class="message__button") Send
