section(class="skills")
    div(class="col-12 col-sm-12 col-md-12")
        div(class="skills__container")
        h2(class="skills__title") Node.js First Steps
        p(class="skills__published") Published: April 1, 2019
        button(class="skills__button") Read