doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="vendor/normalize.css")
        link(rel="stylesheet", href="main.css")
    body
        include components/header.pug
        include components/hero.pug
        include components/skills.pug
        include components/header_project.pug
        include components/card.pug
        include components/message.pug
        include components/rights.pug
