/**
 * Header component
 */
@require "./components/header"

/**
 * Hero Component
 */
@require "./components/hero"

/**
 * Skills Component
 */
@require "./components/skills"

/**
 * Experience Header component
 */
@require "./components/header_experience"

/**
 * Experience Header component
 */
@require "./components/experience_card"

/**
 * Project Header Component
 */
@require "./components/header_project"

/**
 * Project card Component
 */
@require "./components/card"

/**
 * Project card Component
 */
@require "./components/message"

/**
 * Project card Component
 */
@require "./components/rights"

/**
 * Blog component
 */
@require "./components/blog"
